.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.task-input {
  margin-bottom: 20px;
}

.task-input input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
}

.task-input button {
  padding: 10px;
  font-size: 16px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.task-list button {
  padding: 5px 10px;
  font-size: 14px;
}